
.container {
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
    height: 70vh;
}
.wrapper p.title{
    border-bottom: 1px solid gray;
}
.center {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
    border-radius: 5px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.quote {
    color: grey;
    font-size: 16px;
}
.name {
    font-weight: bold;
    font-size: 20px;
}
img.profileImage {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    outline: .3px solid gray;
    border: .3px solid white;
}
.subtitle {
    font-size: 14px;
}
.description {
    padding: 5px;
    width: 300px;
    margin: 0 10px;
    border-bottom: .3px solid gray;
}
.description span{
    font-size: 11px;
    font-weight: medium;
    color: rgb(151, 147, 147);
}
.row {
    display: flex;
    padding: 20px 10px;
}

.bottomContainer {
    display: flex;
}
.row img.cityImage {
    width: 200px;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
    float: left;
}


/* Grid and language page */

.grid {
    width: 1000px;
    height: 500px;
    border: 1px solid white;
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header'
                        'rowOne colOne'
                        'rowTwo colTwo'
                        'rowThree colThree'
                        'rowFour colFour'
    ;
    justify-content: center;
    text-align: center;

}
.gap{
 border: 1px solid white;
 margin: 0;
 padding: 0;
 background-color: rgb(196, 196, 196);
}
.gap p {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
}
.rowHeader {
    display: flex;
    justify-content: space-around;
    grid-area: header;
    background-color: rgb(88, 88, 88);
}
.rowHeader p {
    font-size: 18px;
    font-weight: bold;
}
.rowOne {
    display: flex;
    justify-content: space-around;
    grid-area: rowOne;
    background: rgb(221, 221, 221);
}
.colOne{
    grid-area: colOne;
    background: rgb(221, 221, 221);
}
.rowTwo {
    display: flex;
    justify-content: space-around;
    grid-area: rowTwo;    
}
.colTwo {
grid-area: colTwo;
}
.rowThree {
    display: flex;
    justify-content: space-around;
    grid-area: rowThree;
    background: rgb(221, 221, 221);
}
.colThree{
    grid-area: colThree;
    background: rgb(221, 221, 221);
}
.rowFour {
    display: flex;
    justify-content: space-around;
    grid-area: rowFour; 
}

.colFour {
    grid-area: colFour;
}


/* History page */

.hisWrapper {
    display: flex;
    padding: 10px;
    width: 80%;
}

.hisContainer {
    padding: 10px;
    background-color: rgb(195, 203, 209);
    border-right: .3px solid white;
}

img.imageHistorical{
    margin: 10px;
    float: left;
    width: 190px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

p.subtitle{
    font-weight: bold;
    font-size: 20px;
    border-bottom: .3px solid white;
}
.bottomWrapper p{
    font-size: 15px;
}

 @media only screen and (max-width: 1000px){
    .container {
        padding-top: 150px;
        margin-bottom: 30px;
        background-color: white;
    }
    .center {
        border: none;
        background-color: antiquewhite;
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
    .subtitle {
        font-size: 12px;
    }
    .description {
        font-size: 14px;
        padding: 5px;
        width: 300px;
        margin: 0 10px;
        border-bottom: .3px solid gray;
    }
    img.profileImage {
        border: none;
        outline: none;
    }
    .grid {
        width: 700px;
        height: 300px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'header header'
                            'rowOne colOne'
                            'rowTwo colTwo'
                            'rowThree colThree'
                            'rowFour colFour'
        ;
        justify-content: center;
        text-align: center;
    }
    .gap{
        border: .1px solid rgb(0, 0, 0);
        margin: 0;
        padding: 0;
        background-color: rgb(196, 196, 196);
       }
       .languageContainer {
           padding: 5px;
       }

}

@media only screen and (max-width: 800px){
    .grid {
        width: 550px;
        height: 200px;
    }
    .hisWrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px){
    .grid {
        width: 250px;
        height: 100px;
    }
}